<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="parent.guard" android:versionCode="1" android:versionName="1.0">
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
  <uses-permission android:name="android.permission.RESTART_PACKAGES" />
  <uses-sdk android:minSdkVersion="3" />
  <application android:icon="@drawable/guard" android:label="@string/activity_guard"
    android:name=".GuardApplication">
    <activity android:name=".ParentGuard" android:label="@string/activity_guard">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name=".Locker" android:label="@string/activity_locker" />
    <service android:name=".watcher.ActivityWatcher"
      android:enabled="true">
    </service>
    <receiver android:name=".system.EventReceiver"
      android:enabled="true">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
  </application>
</manifest>