<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="parent.guard"
  android:versionCode="32"
  android:versionName="0.1" >
  <uses-permission android:name="android.permission.READ_LOGS" />
  <uses-sdk android:minSdkVersion="3" />
  
  
  <application
    android:icon="@drawable/guard"
    android:label="@string/activity_guard"
    android:name=".GuardApplication" >
    
    <activity
      android:label="@string/activity_guard"
      android:name=".ParentMain" >
      <intent-filter >
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
        
     <activity
      android:label="@string/activity_guard"
      android:name=".ParentGuard" 
      android:configChanges="keyboardHidden|orientation"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />
     
     <activity
      android:label="@string/activity_homepage"
      android:name=".HomePageActivity" 
      android:configChanges="keyboardHidden|orientation"
      android:launchMode="singleTop"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />
    
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:label="@string/activity_locker"
      android:launchMode="singleTop"
      android:name=".Locker"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />

    <activity
      android:configChanges="keyboardHidden|orientation"
      android:label="@string/activity_locker"
      android:launchMode="singleTop"
      android:name=".HomePageExample"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />
    
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:label="@string/activity_locker"
      android:launchMode="singleTop"
      android:name=".AppsPageExample"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />    
    
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:label="@string/activity_locker"
      android:launchMode="singleTop"
      android:name=".SettingsPageExample"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.NoTitleBar" />
    
    <activity
      android:label="@string/activity_preference"
      android:launchMode="singleTop"
      android:name=".GuardPreference" />
    
    <activity
      android:configChanges="keyboardHidden|orientation"
      android:label="@string/activity_pattern_drawer"
      android:launchMode="singleTop"
      android:name=".PatternDrawer"
      android:screenOrientation="portrait" />
    
    <activity
      android:label="@string/activity_pattern_helper"
      android:launchMode="singleTop"
      android:name=".PatternHelper" />
    
    <activity
      android:label="@string/activity_pattern_helper"
      android:launchMode="singleTop"
      android:name=".PatternExample" />
    
    <service
      android:enabled="true"
      android:name=".watcher.ActivityWatcher" >
    </service>
    
    <receiver
      android:enabled="true"
      android:name=".system.EventReceiver" >
      <intent-filter >
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    
  </application>
  
</manifest>